/* !!!페이지 뷰에 적용할 CSS 작성!!! */

/* [Tag] */


/* [Class .] */


/* [Id #] */
#MainContent {
    height: 100%;
    position: relative;
}

#TemplateMsg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}