/* !!!페이지 뷰에 적용할 CSS 작성!!! */

/* [Tag] */
* {
  font-family: 'MaruBuri';
}

h1 {
  margin: 0rem;
}

header {
  background-color: #2196F3;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}


/* [Class .] */
.MainView {
  text-align: center;
}


/* [Id #] */
#HeaderTitleContainer {
  display: flex;
  align-items: center;
  /* 상하 중앙 정렬 */
  justify-content: flex-start;
  /* 좌측 정렬 */
}

#GoToHomeLogo {
  width: 2.2rem;
  height: 2.2rem;
  padding-left: 1rem;
}

#HeaderTitle {
  color: white;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}