/* !!!페이지 뷰에 적용할 CSS 작성!!! */
/* [Tag] */
h1 {
  margin: 0rem;
}

header {
  background-color: #2196F3;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;

  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* 다른 요소보다 위에 표시되도록 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 작은 그림자 추가 */
}


/* [Class .] */


/* [Id #] */
#MainView {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#Content {
  flex: 1;
  overflow-y: auto;
}

#HeaderTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#GoToHomeLogo {
  width: 2.2rem;
  height: 2.2rem;
  padding-left: 1rem;
}

#HeaderTitle {
  color: white;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}